body {
	background-color: #222;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

.post-title {
	text-align: center;
	color: white;
}

.main-text {
	font-size: 18px;
	margin: 10px 100px 10px 100px;
}

.gallery-paul-shark {
	width: 538px;
	height: 738px;
}

.gallery-paulshark_pigment_overdyed_sweaters {
	width: 337px;
	height: 418px;
}

.gallery {
	text-align: center;
	border: 1px solid white;
	margin: 0 auto;
	background-color: #FFFFFF;
	width: 60%;
}


.gallery-one-line {
	text-align: center;
}

.frontpage-posts {
	text-align: center;
	margin: 20px auto;
}

.navigation {
	font-size: 24px;
	margin: 0 auto;
}

.navigation li {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.logo {
	vertical-align: bottom;
}

.site-header {
	text-align: center;
	margin: 20px auto;
}
