@font-face {
	font-family: "header-font";
	src: url("/fonts/timesbd.ttf");
}
@font-face {
	font-family: "body-font";
	src: url("/fonts/century_gothic.TTF");
}
@font-face {
	font-family: "lists-font";
	src: url("/fonts/century_gothic.TTF");
}
@font-face {
	font-family: "custom-one";
	src: url("/fonts/century_gothic.TTF");
}
@font-face {
	font-family: "ie_custom-one";
	src: url("/fonts/century_gothic.TTF");
}h1, h2, h3, h4, h5, h6, h7	{
	font-family: "header-font"!important;
}p, em, div	{
	 font-family: "body-font"!important;
 }
li	{
	font-family: "lists-font"!important;
}#nav	{
	 font-family: "custom-one"!important;
 }

body {
	background-color: #303030;
	color: white;
	text-align: left;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, san-serif;
}

a {
	text-decoration: none;
	color: rgb(129, 129, 129);
}

a:hover {
	color: #7c7c7c;
	text-decoration: underline;
}

body {
	font-family: proxima-nova-alt, 'Proxima Nova Alt', sans-serif;
	font-kerning: auto;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
	font-size: 16pt;
	padding-top: 20px;
}

p {
	color: #000;
	margin-left: .5cm;
	margin-right: .5cm;
}

.post-title {
	text-align: center;
	color: white;
}

.main-text {
	font-size: 18px;
	margin: 10px 100px 10px 100px;
}

.gallery {
	text-align: center;
	border: 0px solid white;
	margin: 0 auto 0 auto;
	background-color: white;
	width: 85%;
}

.gallery1 {
	text-align: center;
	border: 0px solid white;
	margin: 0 auto;
	background-color: white;
	width: 85%;
}

.gallery2 {
	text-align: left;
	border: 0px solid white;
	margin: 0 auto 0 auto;
	background-color: white;
	width: 55%;
	padding: 10px;
}

.gallery1, .gallery2, .contact, p {
	font-family: body-font;
	font-kerning: auto;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
	text-shadow: rgb(255, 255, 255) 1px 1px 0px;
}

.navigation li {
	text-shadow: rgb(0, 0, 0) 1px 1px 0px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-kerning: auto;
	font-size: 16px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: bold;
	text-transform: uppercase;
}

.navigation a {
	color: rgb(237, 237, 237) !important;
}

.gallery-one-line {
	text-align: center;
}
.gallery-banana-republic{
	height: 555px;
}
.gallery-country-road{
}
.gallery-zegna0{
}
.gallery-zegna1{
	width: 538px;
	height: 738px;
}
.gallery-head-sportswear{
	width: 538px;
}
.gallery-henry-grethel{

	height: 555px;
}
.gallery-henry-jacobson{
	height: 555px;
}
.gallery-J-C-Penny{
	height: 555px;
}
.gallery-J-C-Penny1{
	height: 530px;
}
.gallery-J-C-Penny2{
	width: 398px;
}
.gallery-j-l-powell{
	height: 555px;
}
.gallery-john-deere{
	height: 555px;
}
.gallery-levi{

	height: 738px;
}
.gallery-levi1{
	height: 555px;
}
.gallery-l-l-bean{

}
.gallery-paul-shark {
	width: 538px;
	height: 738px;
}
.gallery-paulshark_pigment_overdyed_sweaters {
	width: 337px;
	height: 418px;
}
.gallery-royal-robbins{
	width: 780px;
}
.gallery-north-face{
	height: 555px;
}
.gallery-orvis{
	height: 555px;
}
.gallery-walls{
	height: 555px;
}
.gallery-woolrich{
	height: 555px;
}
.post-ikebana{
	width: 680px;
}
.frontpage-posts {
	text-align: center;
	margin: 20px auto;
}

.navigation {
	font-size: 16px;
	margin: 10px;
}

.navigation li {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.privacy-policy-list {
	list-style-position: inside;
	margin-left: 1cm;
	margin-right: 1cm;
	color: #000;
}

.post-link {
	font-size: 16pt;
}

.post-meta {
	font-size: 12pt;
}

.tagline {
	text-align: center;
}
.tagline div {
	margin: 0 auto;
	font-size: 14px !important;
}

.clear {
	clear: both;
}

.about_t{
	background-blend-mode: normal;
	background-clip: border-box;
	background-origin: padding-box;
	background: rgba(0, 0, 0, 0) url(http://colinwoodforddesign.com/wp-content/themes/sakura/images/night_about_t.png) no-repeat scroll 50% 0;
	background-size: auto;
	display: block;
	height: 21px;
	width: 980px;

}

.about{
	background-blend-mode: normal;
	background-clip: border-box;
	background-origin: padding-box;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	background-size: auto;
	display: block;
	font-family: body-font, sans-serif;
	font-kerning: auto;
	font-size: 16pt;
	font-stretch: normal;
	font-style: italic;
	font-variant: normal;
	font-variant-ligatures: normal;
	font-weight: normal;
	padding: 13px 0;
	width: 940px;
	text-align: center;
}

.about_b {
	background-blend-mode: normal;
	background-clip: border-box;
	background-origin: padding-box;
	background: rgba(0, 0, 0, 0) url(http://colinwoodforddesign.com/wp-content/themes/sakura/images/night_about_b.png) no-repeat scroll 50% 100%;
	background-size: auto;
	display: block;
	height: 46px;
	width: 898px;
}

.portfolio-list {
	list-style-type: none;
	line-height: 1.5;
	text-align: center;
}

.site-header {
	clear: both;
	align-content: center;
	text-align: center;
	float: inherit;
	display: inline;
}

.logo{
	position: relative;
	top: 35px;
	left: -35px;
}

.top-menu {
	text-align: center;
	position: relative;
  	padding: 0 0 0 10px;
	text-transform: uppercase;
}

h1 {
	font-size: 30pt;
	font-family: header-font;
	line-height: 40px;
	color: #000000;
}

h3{

	font-size: 16pt;
	color: #000000;
	margin-left: 1cm;
	margin-right: 1cm;
}

.dots {
	display: none;
}

.site-footer {
	text-align: center;
	font-size: 10pt;
}

.contact {
	text-align: center;
	border: 0px solid white;
	margin: 0 auto 0 auto;
	background-color: white;
	width: 45%;
	padding: 20px;
}

.posts-box{
	border: 0px solid white;
	margin: 0 auto 0 auto;
	background-color: white;

}

li {
	list-style-type: none !important;
	margin: 0;
}

#slider ul {
	margin: 0;
}

@media only screen and (min-width: 768px) {
	.posts-box {
		width: 75%;
	}
}

@media only screen and (max-width: 768px) {
	.post-logo {
		margin-top: 60px;
	}
}
