<header class="site-header">
    <div class="top-menu">
        <a class="logo" href="/"><img src="/images/logo.png" alt="Colin Woodford &#8211; The Art Of Style: Presenting the Date shirt collection"/></a>

        <ul class="navigation">
            <li><a href="/portfolio/"><strong>Portfolio / Clients</strong></a>
            <li><a href="/privacy-policy/"><strong>Privacy Policy</strong></a></li>
            <li><a href="/what-i-do/"><strong>What I Do</strong></a></li>
            <li><a href="/bio/"><strong>Bio</strong></a></li>
            <li><a href="/contact/"><strong>Contact</strong></a></li>
        </ul>
    </div>

    <div class="banner has-dots" style="overflow: hidden; width: 100%; height: 415px;">
      <ul style="width: 400%; position: relative; left: -200%; height: 415px;">
        <li style="width: 25%; background-image: url(http://unslider.com/img/sunset.jpg); background-size: 100% 100%;">
        </li>

        <li style="width: 25%; background-image: url(http://unslider.com/img/wood.jpg); background-size: 100% 100%;">
        </li>

        <li style="width: 25%; background-image: url(http://unslider.com/img/subway.jpg); background-size: 100% 100%;">
        </li>

        <li style="width: 25%; background-image: url(http://unslider.com/img/shop.jpg); background-size: 100% 100%;">
        </li>
      </ul>
      <ol class="dots"><li class="dot">1</li><li class="dot">2</li><li class="dot">3</li><li class="dot">4</li></ol>
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
</header>

<script src="/js/unslider.min.js"></script>
<script>
  $(function() {
    $('.banner').unslider({
      speed: 500,               //  The speed to animate each slide (in milliseconds)
      delay: 3000,              //  The delay between slide animations (in milliseconds)
      complete: function() {},  //  A function that gets called after every slide animation
      keys: true,               //  Enable keyboard (left, right) arrow shortcuts
      dots: false,               //  Display dot navigation
      fluid: true
    });
  });
</script>
