<header>
    <div class="top-menu">
        <ul class="navigation">
            <li class="site-header" align="center">
                <a class="logo" href="/"><img src="/images/logo.png" alt="Colin Woodford &#8211; The Art Of Style: Presenting the Date shirt collection"/></a>
            </li>
            <li><a href="/portfolio/"><strong>Portfolio / Clients</strong></a>
            <li><a href="/privacy-policy/"><strong>Privacy Policy</strong></a></li>
            <li><a href="/what-i-do/"><strong>What I Do</strong></a></li>
            <li><a href="/bio/"><strong>Bio</strong></a></li>
            <li><a href="/contact/"><strong>Contact</strong></a></li>
        </ul>
    </div>
    <br /><br />
</header>
